n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,4"
            }
          ]
        }
      },
      "id": "175767c8-80ca-449d-a5c9-4db4c15c7c04",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        672
      ]
    },
    {
      "parameters": {
        "url": "https://steep-mode-9a93.thefutureproofprofessional.workers.dev/",
        "options": {}
      },
      "id": "71077954-4dc3-423e-bdad-f460c49f7f76",
      "name": "Fetch Clean Data (Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        592,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- STRICT CLEAN DATA ONLY ---\n// 1. We define high-quality Backup Data (Passport, NTSA, Power, etc.)\n// 2. We allow data from your Worker (Fetch 5)\n// 3. We BLOCK everything else.\n\nconst backupServices = [\n  {\n    service_name: 'Passport Application (Ordinary)',\n    category: 'Government',\n    paybill_number: '222222',\n    account_format: 'eCitizen Invoice No',\n    requirements: 'ID, Birth Cert, Parents IDs',\n    cost: 'Ksh 4,550',\n    process_steps: 'Apply via eCitizen',\n    source_url: 'https://immigration.go.ke'\n  },\n  {\n    service_name: 'National ID (Replacement)',\n    category: 'Government',\n    paybill_number: '222222',\n    account_format: 'Invoice No',\n    requirements: 'Police Abstract, Waiting Card',\n    cost: 'Ksh 100',\n    process_steps: 'Visit Huduma Center',\n    source_url: 'https://identity.go.ke'\n  },\n  {\n    service_name: 'NTSA (Driving License)',\n    category: 'Government',\n    paybill_number: '222222',\n    account_format: 'Invoice No',\n    requirements: 'Expired DL',\n    cost: 'Ksh 650 - Ksh 3000',\n    process_steps: 'Apply on NTSA Portal',\n    source_url: 'https://ntsa.go.ke'\n  },\n  {\n    service_name: 'Kenya Power (Prepaid)',\n    category: 'Utilities',\n    paybill_number: '888880',\n    account_format: 'Meter No',\n    requirements: 'None',\n    cost: 'Bill Amount',\n    process_steps: 'Pay via M-PESA',\n    source_url: 'https://kplc.co.ke'\n  },\n  {\n    service_name: 'Nairobi Water',\n    category: 'Utilities',\n    paybill_number: '444400',\n    account_format: 'Account No',\n    requirements: 'None',\n    cost: 'Bill Amount',\n    process_steps: 'Pay via M-PESA',\n    source_url: 'https://nairobiwater.co.ke'\n  },\n  {\n    service_name: 'NHIF (Individual)',\n    category: 'Government',\n    paybill_number: '200222',\n    account_format: 'National ID',\n    requirements: 'ID Number',\n    cost: 'Ksh 500 / Month',\n    process_steps: 'Pay via M-PESA',\n    source_url: 'https://nhif.or.ke'\n  }\n];\n\nconst finalOutput = [];\n\n// Helper to format data perfectly for Python\nfunction formatItem(item) {\n    // FILTER: Reject garbage names (e.g. \"34)&\", \"pub\")\n    const name = item.service_name || item.title || 'Unknown';\n    if (name.length < 3 || name.includes('&') || name.includes(';')) {\n        return null; // Skip bad data\n    }\n\n    return {\n        json: {\n            service_name: name,\n            category: item.category || 'General',\n            paybill_number: item.paybill_number || item.paybill || 'N/A',\n            account_format: item.account_format || 'Account No',\n            requirements: item.requirements || 'None',\n            cost: item.cost || 'Standard Rates',\n            process_steps: item.process_steps || 'Check provider details',\n            source_url: item.source_url || '#'\n        }\n    };\n}\n\n// 1. Add Backup Data\nfor (const svc of backupServices) {\n    finalOutput.push(formatItem(svc));\n}\n\n// 2. Process Worker Data (if available)\nfor (const item of items) {\n    const data = item.json;\n    if (data.data && Array.isArray(data.data)) {\n         for (const remoteService of data.data) {\n             const clean = formatItem(remoteService);\n             if (clean) finalOutput.push(clean);\n         }\n    }\n}\n\nreturn finalOutput;"
      },
      "id": "a9cb04a1-7914-43d9-b373-076cd2eda137",
      "name": "Strict Data Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://juakenya.futureproofpro.cloud/api/services",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "services",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "05e37062-e6f8-4f4e-80db-990f8e4ea1f7",
      "name": "Send to Website API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        672
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Clean Data (Worker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Clean Data (Worker)": {
      "main": [
        [
          {
            "node": "Strict Data Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strict Data Filter": {
      "main": [
        [
          {
            "node": "Send to Website API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96d1e18296bef7d5687ad800202e8c87d9acfd87c73321ad6c13d31cb3cf0d2c"
  }
}
