n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,4"
            }
          ]
        }
      },
      "id": "e0a9b4f0-3c5d-409a-8dc1-6cd6fc01991e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://money.ke/mpesa",
        "options": {}
      },
      "id": "e43e99a4-6531-4904-b6b4-120e0f0ac55d",
      "name": "Fetch Data 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        560
      ]
    },
    {
      "parameters": {
        "url": "https://www.elimucentre.com/mpesa-charges/",
        "options": {}
      },
      "id": "0e4d2fdf-522b-4b53-afe2-a4377124b8ff",
      "name": "Fetch Data 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://biznakenya.com/mpesa-paybill-numbers/",
        "options": {}
      },
      "id": "b991829b-fe12-430c-879b-b5df8a2ac20f",
      "name": "Fetch Data 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        880
      ]
    },
    {
      "parameters": {
        "url": "https://victormochere.com/m-pesa-paybill-numbers-for-all-mobile-loan-apps-in-kenya",
        "options": {}
      },
      "id": "88137efd-9ad4-4982-bb7d-e09b2e825678",
      "name": "Fetch Data 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        1040
      ]
    },
    {
      "parameters": {
        "url": "https://steep-mode-9a93.thefutureproofprofessional.workers.dev/",
        "options": {}
      },
      "id": "febe6a0e-c46f-4342-ab6d-855ab8fa71eb",
      "name": "Fetch Data 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "32866011-7406-4d03-ac23-991069591680",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        784,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- BACKUP DATA (Ensures your site always has these services) ---\nconst backupServices = [\n  {\n    service_name: 'Passport Application',\n    category: 'Government',\n    paybill: '222222',  // Correct key for website\n    paybill_number: '222222', // Backup key\n    account_format: 'Invoice No',\n    cost: 'Ksh 4,550',\n    source_url: 'https://immigration.go.ke'\n  },\n  {\n    service_name: 'eCitizen (General)',\n    category: 'Government',\n    paybill: '222222',\n    paybill_number: '222222',\n    account_format: 'Reference No',\n    cost: 'Varies',\n    source_url: 'https://ecitizen.go.ke'\n  },\n  {\n    service_name: 'Kenya Power (Prepaid)',\n    category: 'Utilities',\n    paybill: '888880',\n    paybill_number: '888880',\n    account_format: 'Meter No',\n    cost: 'Bill Amount',\n    source_url: 'https://kplc.co.ke'\n  },\n  {\n    service_name: 'Nairobi Water',\n    category: 'Utilities',\n    paybill: '444400',\n    paybill_number: '444400',\n    account_format: 'Account No',\n    cost: 'Bill Amount',\n    source_url: 'https://nairobiwater.co.ke'\n  }\n];\n\nconst finalOutput = [];\n\n// 1. Add Backup Data First\nfor (const svc of backupServices) {\n  finalOutput.push({ json: svc });\n}\n\n// 2. Process Incoming Data from Fetch Nodes\nfor (const item of items) {\n  const data = item.json;\n  \n  // Handle data from your Worker (Fetch 5)\n  if (data.data && Array.isArray(data.data)) {\n     for (const remoteService of data.data) {\n         finalOutput.push({\n             json: {\n                 service_name: remoteService.service_name || 'Unknown Service',\n                 category: remoteService.category || 'General',\n                 // CRITICAL FIX: Send BOTH keys to ensure one works\n                 paybill: remoteService.paybill_number || remoteService.paybill || 'N/A',\n                 paybill_number: remoteService.paybill_number || 'N/A',\n                 account_format: 'Account No',\n                 cost: remoteService.cost || 'Standard Rates',\n                 source_url: '#'\n             }\n         });\n     }\n     continue;\n  }\n\n  // Skip raw HTML pages (Money.ke, etc) for now to prevent \"undefined\" errors.\n  // Once you need to scrape them, we can add an HTML Extract node later.\n}\n\nreturn finalOutput;"
      },
      "id": "8726374b-deec-4e9d-9cbd-2e6e448b4ce7",
      "name": "Smart Data Cleaner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://juakenya.futureproofpro.cloud/api/services",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "services",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "198eee59-943c-47c0-b83b-afe2e1fc624c",
      "name": "Send to Website API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1264,
        912
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Data 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Data 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Data 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Data 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data 1": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data 2": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data 3": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data 4": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data 5": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Smart Data Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Data Cleaner": {
      "main": [
        [
          {
            "node": "Send to Website API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96d1e18296bef7d5687ad800202e8c87d9acfd87c73321ad6c13d31cb3cf0d2c"
  }
}
